.Content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Content h1 {
  padding: 0px 20px 0px 20px;
}

.Content h4 {
  text-align: left;
  padding: 0px 20px 0px 20px;
}

.Content button {
  text-align: center;
  font-size: 30px;
  height: 180px;
  width: 180px;
  border-radius: 100%;
}

.button-color-1 {
  color: red;
  background-color: grey;
  border: 10px solid red;
}

.button-color-2 {
  color: blue;
  background-color: grey;
  border: 10px solid blue;
}

.button-color-3 {
  color: green;
  background-color: grey;
  border: 10px solid green;
}

.button-color-4 {
  color: yellow;
  background-color: grey;
  border: 10px solid yellow;
}

.button-color-5 {
  color: purple;
  background-color: grey;
  border: 10px solid purple;
}

.button-color-6 {
  color: aquamarine;
  background-color: grey;
  border: 10px solid aquamarine;
}

.button-color-7 {
  color: cyan;
  background-color: grey;
  border: 10px solid cyan;
}

.button-color-8 {
  color: hotpink;
  background-color: grey;
  border: 10px solid hotpink;
}

.button-color-9 {
  color: olive;
  background-color: grey;
  border: 10px solid olive;
}

.button-color-10 {
  color: peru;
  background-color: grey;
  border: 10px solid peru;
}
